body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #FF9933 33.33%, #FFFFFF 33.33%, #FFFFFF 66.66%, #138808 66.66%);
    font-family: 'Helvetica Neue', sans-serif;
}

.title {
    margin-bottom: 20px;
    font-size: 2em;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.calculator {
    width: 360px;
    background-color: #333;
    border-radius: 30px;
    border: 1px solid #ccc;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1), 0 0 15px rgba(0, 0, 0, 0.2);
    border: 4px solid #fff;
    position: relative;
    animation: pop-in 0.5s ease-out;
}

@keyframes pop-in {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    padding: 20px;
    background-color: #000;
    border-bottom: 1px solid #666;
    border-radius: 0 0 20px 20px;
    position: relative;
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        box-shadow: 0 0 5px #fff;
    }
    to {
        box-shadow: 0 0 20px #0ff;
    }
}

.history {
    font-size: 18px;
    color: #bbb;
    text-align: right;
    height: 20px;
}

.current {
    font-size: 48px;
    text-align: right;
    min-height: 60px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    background-color: #000;
    padding: 10px;
}

.button {
    background-color: #333;
    color: #fff;
    font-size: 20px;
    border: 1px solid #666;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 0 #000;
    border-radius: 50%;
}

.button:hover {
    background-color: #555;
    box-shadow: 0 8px 15px rgba(255, 0, 0, 0.6);
    transform: translateY(-4px);
}

.button:active {
    box-shadow: 0 2px 0 #000;
    transform: translateY(2px);
}

.button.operator {
    background-color: #f90;
}

.button.operator:hover {
    background-color: #faa;
    box-shadow: 0 8px 15px rgba(255, 0, 0, 0.6);
    transform: translateY(-4px);
}

.button.function {
    background-color: #a5a5a5;
}

.button.function:hover {
    background-color: #c5c5c5;
    box-shadow: 0 8px 15px rgba(255, 0, 0, 0.6);
    transform: translateY(-4px);
}

.button.zero {
    grid-column: span 2;
    width: calc(140px + 10px);
    border-radius: 30px;
}
